<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd"
	default-lazy-init="true">

	<description>Spring common configuration </description>

	<context:property-placeholder
		ignore-unresolvable="true" location="classpath*:/application.properties" />

	<context:component-scan base-package="com.digitalplay.network.ireader.sys.service" />

	<!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找 -->
				<value>classpath:messages</value>
				<value>classpath:ValidationMessages</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
	</bean>

	<bean id="dataSource" class="org.apache.tomcat.jdbc.pool.DataSource"
		destroy-method="close">
		<!-- Connection Info -->
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<!-- Connection Pooling Info -->
		<property name="maxActive" value="${jdbc.pool.maxActive}" />
		<property name="maxIdle" value="${jdbc.pool.maxIdle}" />
		<property name="minIdle" value="0" />
		<property name="defaultAutoCommit" value="false" />
	</bean>

	<bean id="springUtils" class="com.digitalplay.network.ireader.util.SpringUtils" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.digitalplay.network.ireader.sys.domain" />
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="generateDdl" value="false" />
				<property name="database" value="H2" />
			</bean>
		</property>
		<property name="jpaDialect">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect" />
		</property>
		<property name="jpaPropertyMap">
			<map>
			    <entry key="javax.persistence.validation.factory" value-ref="validator"/>
				<entry key="hibernate.jdbc.batch_size" value="50" />
				<entry key="hibernate.jdbc.fetch_size" value="50" />
				<entry key="hibernate.show_sql" value="true" />
				<entry key="hibernate.format_sql" value="true" />
				<entry key="hibernate.ejb.naming_strategy" value="org.hibernate.cfg.ImprovedNamingStrategy" />
				<!-- 开启二级缓存 -->
				<entry key="hibernate.cache.use_second_level_cache" value="true" />
				<!-- 开启查询缓存 -->
				<entry key="hibernate.cache.use_query_cache" value="true" />
				<!-- 二级缓存区域名的前缀 -->
				<!-- <entry key="hibernate.cache.region_prefix" value="ireader-cache" 
					/> -->
				<!-- 高速缓存提供程序 -->
				<entry key="hibernate.cache.region.factory_class" value="org.hibernate.cache.ehcache.EhCacheRegionFactory" />
				<!-- 指定缓存配置文件位置 -->
				<entry key="net.sf.ehcache.configurationResourceName" value="cache/ehcache.xml" />
				<!-- 强制Hibernate以更人性化的格式将数据存入二级缓存 -->
				<entry key="hibernate.cache.use_structured_entries" value="true" />
				<!-- Hibernate将收集有助于性能调节的统计数据 -->
				<entry key="hibernate.generate_statistics" value="true" />
			</map>
		</property>
	</bean>

	<!-- 以下 validator  ConversionService 在使用 mvc:annotation-driven 会 自动注册-->
	    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
	        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
	        <!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
	        <property name="validationMessageSource" ref="messageSource"/>
	    </bean>

	<!--设置BaseRepositoryImplHelper辅助类所需的entityManagerFactory -->
	<bean
		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
		<property name="staticMethod"
			value="com.digitalplay.network.ireader.common.repository.RepositoryHelper.setEntityManagerFactory" />
		<property name="arguments" ref="entityManagerFactory" />
	</bean>

	<jpa:repositories base-package="com.digitalplay.network.ireader.sys.repository"
		repository-impl-postfix="Impl"
		factory-class="com.digitalplay.network.ireader.common.repository.SimpleBaseRepositoryFactoryBean"
		transaction-manager-ref="transactionManager"
		entity-manager-factory-ref="entityManagerFactory" />

	<!-- Jpa 事务配置 -->
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<!-- 类型转换及数据格式化 -->
	<bean id="conversionService"
		class="org.springframework.format.support.FormattingConversionServiceFactoryBean" />

	<!-- 直接把id转换为entity 必须非lazy否则无法注册 -->
	<bean id="domainClassConverter"
		class="org.springframework.data.repository.support.DomainClassConverter" lazy-init="false">
		<constructor-arg ref="conversionService" />
	</bean>

	<!-- 使用annotation定义事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"
		proxy-target-class="true" />



</beans>