 @charset 'UTF-8'; 

.top-nav, .top-nav a {
	height: 35px
}

.logo-wrap .box-center, .top-nav a.act {
	position: relative
}

.main-nav li.web .game-dropdown .lately dd {
	overflow: hidden;
	*zoom: 1
}

.main-nav li.web .game-dropdown .lately {
	border-bottom: 1px solid #ebebeb
}

.login {
    width: 400px;
    margin: 120px auto;

    background-clip: padding-box;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 6px 6px 6px 6px;
    -webkit-box-shadow: 0 3px 7px #ddd;
    -moz-box-shadow: 0 3px 7px #ddd;
    box-shadow: 0 3px 7px #ddd;
    outline: medium none;
}
.login .title {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 8px;
    background: #1999d7;
    background-clip: padding-box;
    border-radius: 6px 6px 0 0;
    line-height: 30px;
}
.login .form {
    padding: 30px 0 10px 30px;
    color: #777;
}
.login .remember {
    width: 180px;
    float: left;
}
.login .btn-login {
    padding: 5px 20px;
}

.jcaptcha-img {
    cursor: pointer;
}

.main-nav-wrap {
	margin-bottom: 10px;
	background-color: #3e3d43
}

.main-nav-wrap .main-nav {
	position: relative;
	height: 40px;
	background-color: #3e3d43;
	*z-index: 2
}

.main-nav-wrap .main-nav li {
	float: left
}

.main-nav-wrap .main-nav li b {
	font-weight: 400
}

.main-nav-wrap .main-nav li b.client, .main-nav-wrap .main-nav li b.webgame
	{
	float: left;
	min-width: 16px;
	margin: 1px 5px 0 0;
	opacity: .8;
	font-size: 16px;
	filter: alpha(opacity = 80)
}

.main-nav-wrap .main-nav li a {
	float: left;
	height: 38px;
	padding: 0 32px;
	border-bottom: 2px solid #333;
	color: #fff;
	font: 16px/38px PingFangSC-Regular, HelveticaNeue-Light,
		'Helvetica Neue Light', 'Microsoft YaHei', sans-serif
}

.main-nav-wrap .main-nav li.nav-li a.act {
	border-bottom: 2px solid #ed4259;
	background-color: #ed4259;
	color: #fff
}

.main-nav-wrap .main-nav li.nav-li a.act:hover {
	height: 38px;
	border-top: none;
	border-bottom: 2px solid #ed4259;
	background: #ed4259;
	line-height: 38px
}

.main-nav-wrap .main-nav li.nav-li a:hover {
	height: 36px;
	border-top: 2px solid #ed4259;
	border-bottom: 2px solid #252428;
	background-color: #252428;
	line-height: 34px;
	transition: none
}

.main-nav-wrap .main-nav li.first {
	position: relative;
	width: 216px;
	height: 40px;
	margin-right: 30px;
	background-color: #313035;
	cursor: pointer
}

.main-nav-wrap .main-nav li.first b, .main-nav-wrap .main-nav li.first b strong
	{
	position: absolute;
	width: 0;
	height: 0;
	border-right: 5px solid transparent;
	border-bottom: 0 none;
	border-left: 5px solid transparent
}

.main-nav-wrap .main-nav li.first b {
	top: 18px;
	right: 18px;
	margin-left: -5px;
	border-top: 5px solid #a6a6a6;
	transition: all .5s
}

.main-nav-wrap .main-nav li.first b strong {
	top: -7px;
	right: -5px;
	border-top: 5px solid #333
}

.main-nav-wrap .main-nav li.first:hover span {
	background-color: #252428
}

.main-nav-wrap .main-nav li.first:hover b {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	transform: rotateX(-180deg)
}

.main-nav-wrap .main-nav li.first:hover b strong {
	border-top: 5px solid #252428
}

.main-nav-wrap .main-nav li.first span {
	display: block;
	padding: 0 0 0 18px;
	background-color: #313035;
	color: #fff;
	font: 16px/38px PingFangSC-Regular, HelveticaNeue-Light,
		'Helvetica Neue Light', 'Microsoft YaHei', sans-serif;
	transition: all .5s
}

.main-nav li .game-dropdown dl dt, .main-nav li.web .game-dropdown .web-list dd h3 a
	{
	font-family: PingFangSC-Regular, '-apple-system', Simsun
}

.main-nav-wrap .main-nav li.first span em {
	float: left;
	width: 16px;
	height: 14px;
	margin: 13px 8px 0 0;
	vertical-align: middle;
	_overflow: hidden
}

.main-nav-wrap .main-nav li.first span em i {
	display: block;
	width: 16px;
	height: 2px;
	margin-bottom: 4px;
	background: #d5d5d6
}

input[type="text"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], input[type="password"], .ui-autocomplete-input, textarea, .uneditable-input{
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    padding: 5px;
}


textarea {
    height: auto;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
    font-size: 12px;
}

.input-append .add-on,
.input-prepend .add-on {
    height: 18px;
    font-size: 12px;
    line-height: 18px;
}

.input-append input, .input-append select, .input-append .uneditable-input{
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

input.search-query {
    padding-right: 12px;
}

.btn {
    font-size: 12px;
    padding: 5px 8px;
}

/* footer */
#footer {
	margin-top: 15px;
	padding: 15px 0px 0px 0px;
	font-size: 95%;
	text-align: center;
	border-top: 2px solid #658A16;
}

#footer a {color: #999;}


